/* Blog */

.blog{
    padding-top: 125px;
    padding-bottom: 210px;
    background-color: #02050a;
}

.blog__title{
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.blog__title__text h5{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.4px;
    line-height: 1.2;
    color: #55e6a5;
    margin-bottom: 10px;
}

.blog__title__text h2{
    font-size: 48px;
    font-weight: 600;
    line-height: 1.3;
    color: white;
}

.blog__title__link a{
    color: #02050a;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: #55e6a5;
    padding: 20px 40px;
    transition: all 0.3s linear 0s;
}

.blog__title__link a:hover{
    background-color: #141c27;
    color: white;
}

.single__blog{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single__blog__date{
    background-color: #55e6a5;
    padding: 13px 17px;
    width: 200px;
    text-align: center;
    position: absolute;
    bottom: 45px;
    z-index: 1;
}

.single__blog__date span{
    color: #02050a;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
}

.single__blog__data{
    background-color: #09101a;
    padding: 45px 30px 30px;
    width: 374px;
    position: absolute;
    bottom: -95px;
}

.single__blog__data__top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.single__blog__data__top .creator{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: white;
}

.single__blog__data__top .creator i{
    font-size: 16px;
    color: #55e6a5;
    margin-right: 4px;
}

.single__blog__data__top .comments{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: white;
}

.single__blog__data__top .comments i{
    font-size: 16px;
    color: #55e6a5;
    margin-right: 4px;
}

.single__blog__data__bottom{
    text-align: center;
}

.single__blog__data__bottom a{
    font-size: 20px;
    font-weight: 600;
    color: white;
    line-height: 1.5;
    transition: all linear 0.3s;
}

.single__blog__data__bottom a:hover{
    color: #55e6a5;
}

/* Subscribe */

.subscribe{
    background-image: url('https://zyan.vercel.app/images/bg/subscribe.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.subscribe__overlay{
    background-color: #000000e3;
    padding: 115px 0px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.subscribe h3{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    line-height: 1.2;
    margin-bottom: 36px;
}

.subscribe form{
    position: relative;
}

.subscribe form input{
    border: 1px solid #55e6a5;
    padding: 27px 25px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background: #131313;
    width: 636px;
}

.subscribe form button{
    color: #02050a;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: #55e6a5;
    border: none;
    position: absolute;
    top: 7.8px;
    right: 8px;
    transition: all 0.3s linear 0s;
}

.subscribe__button__text{
    padding: 20px 40px;
}

.subscribe form .subscribe__button__icon{
    padding: 20px 30px;
}

.subscribe form .subscribe__button__icon i{
    font-size: 20px;
}

.subscribe__button__icon{
    display: none;
}

.subscribe form button:hover{
    background: #141c27;
    color: white;
}



/* Media */



@media screen and (max-width: 1400px){

    /* Blog */

    .blog__title h2{
        font-size: 38px;
    }

    .blog__col-4{
        width: 50%;
    }

    .single__blog__dif2{
        margin-top: 150px;
    }

    /* Subscribe */

    .subscribe form input{
        width: 546px;
    }
}

@media screen and (max-width: 1200px){

    /* Subscribe */

    .subscribe form input{
        width: 616px;
    }
}

@media screen and (max-width: 992px){

    /* Blog */

    .blog__col-4{
        width: 100%;
    }

    .single__blog__dif2{
        margin-top: 0px;
    }

    .single__blog{
        margin-top: 150px;
    }

    .single__blog__dif1{
        margin-top: 0px;
    }

    .blog__title{
        display: block;
    }

    .blog__title__link{
        margin-top: 45px;
    }
    
    /* Subscribe */

    .subscribe form input{
        width: 576px;
    }
}

@media screen and (max-width: 768px){

    /* Blog */

    .blog__title h2{
        font-size: 36px;
    }

    .blog{
        padding-top: 75px;
        padding-bottom: 170px;
    }

    /* Subscribe */

    .subscribe form input{
        width: 516px;
    }

    .subscribe__overlay{
        padding: 75px 0px 80px;
    }
}

@media screen and (max-width: 576px){

    /* Subscribe */

    .subscribe h3{
        font-size: 20px;
    }

    .subscribe form{
        width: 90%;
    }

    .subscribe form input{
        width: 100%;
    }
}

@media screen and (max-width: 500px){

    /* Blog */

    .single__blog__data__top{
        display: flex;
        flex-direction: column;
    }

    .single__blog img{
        width: 100%;
    }

    .single__blog__data{
        width: 80%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .single__blog__data a{
        font-size: 18px;
    }

    .single__blog__date{
        width: 60%;
        bottom: 50px;
        padding: 10px 0px;
    }

}

@media screen and (max-width: 462px){

    /* Blog */

    .single__blog__date{
        width: 60%;
        bottom: 75px;
        padding: 10px 0px;
    }

    .subscribe__button__text{
        display: none;
    }
    
    .subscribe__button__icon{
        display: block;
    }

    .subscribe h3{
        font-size: 18px;
    }
}